.backgroundColor{
    -fx-background-color: linear-gradient(to bottom right , #363535 , #242424);
}

.backgroundColor1{
    -fx-background-color: linear-gradient(to top left , #1ce4e2, #b588f7);
}

.backgroundColor2{
    -fx-background-color: linear-gradient(to left top , #00FF87, #60EFFF);
    /* -fx-background-color: linear-gradient(to left top , #00FF87, #60EFFF); */
}

.backgroundColor3{
    -fx-background-color: linear-gradient(to bottom right , #1ce4e2, #b588f7);
    /* -fx-background-color: linear-gradient(to left top , #00FF87, #60EFFF); */
}

.hover{
    -fx-background-color: red;
}

/*
.backgroundColor{
    -fx-background-color: linear-gradient(to right bottom , #0061ff , #60efff);
}

.backgroundColor2{
    -fx-background-color: linear-gradient(to left top , #0061ff , #60efff);
}
*/

/*
.backgroundColor{
    -fx-background-color: linear-gradient(to right bottom , #ff1b6b , #45caff);
}

.backgroundColor2{
    -fx-background-color: linear-gradient(to left top , #ff1b6b , #45caff);
}
*/

/*
.backgroundColor{
    -fx-background-color: linear-gradient(to right bottom , #40c9ff , #e81cff);
}

.backgroundColor2{
    -fx-background-color: linear-gradient(to left top , #40c9ff , #e81cff));
}
*/

